.notification {
  /* Adding extra margin to make space for the submit button on mobile */

  /* margin-block-end: 3.85rem; */
  max-width: 37.5rem;

  /* @media screen and (min-width: 72.5rem) {
    margin-block-end: unset;
  } */
}

.notification h2 {
  hyphenate-limit-chars: unset;
}

.notification p {
  hyphenate-limit-chars: unset;
}
