@import url('styles/vendor/bootstrap.min.css');
@import url('styles/vendor/bootstrap-icons.min.css');

body {
  font-family: 'Amsterdam Sans', Arial, sans-serif;
  margin-block: 0;
  margin-inline: 0;
}
