@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');

body {
  font-family: 'Amsterdam Sans', Arial, sans-serif;
  margin-block: 0;
  margin-inline: 0;
}
