.wrapper {
  font-size: var(--ams-text-level-5-font-size);
  line-height: var(--ams-text-level-5-line-height);
  outline-offset: var(--ams-focus-outline-offset);
  position: relative;
  width: 100%;

  @media screen and (min-width: 36rem) {
    border: var(--ams-border-width-sm) dashed var(--ams-color-neutral-grey3);
    box-sizing: border-box;
    outline-offset: calc(var(--ams-focus-outline-offset) * 2); /* Increase outline offset to account for border width */
    padding-block: var(--ams-space-md);
    padding-inline: var(--ams-space-md);
  }
}

.input {
  cursor: pointer;
  inset: 0;
  opacity: 0;
  position: absolute;
}

/*
* Set focus outline on the label. This is removed again in .wrapper using a :has selector.
* This fallback means that browsers that do not support :has will at least show the focus outline on the label.
*/
.input:focus-visible + label {
  outline: auto;
  outline-offset: var(--ams-focus-outline-offset);
}

.label {
  align-items: baseline;
  display: flex;
  margin-block-end: var(ams-space-md);
}

.wrapper:has(:focus-visible) {
  outline: -webkit-focus-ring-color auto 0.0625rem;

  /* This removes the fallback outline set on the label. */
  .label {
    outline: none;
  }
}

.button {
  box-shadow: var(--ams-button-secondary-box-shadow);
  color: var(--ams-button-secondary-color);
  padding-block: var(--ams-button-padding-block);
  padding-inline: var(--ams-button-padding-inline);
  text-align: center;
  width: 100%;

  @media screen and (min-width: 36rem) {
    flex-shrink: 0;
    width: auto;
  }
}

.wrapper:hover .button {
  box-shadow: var(--ams-button-secondary-hover-box-shadow);
  color: var(--ams-button-secondary-hover-color);
}

.drop-area-text {
  display: none;

  @media screen and (min-width: 36rem) {
    display: inline;
    padding-inline: var(--ams-space-md);
  }
}
