.grid {
  padding-inline: 0;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paragraph {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  width: fit-content;
}
