.container {
  height: 100%;
  min-height: 16rem;
  position: relative;
}

.map {
  height: 100%;
  isolation: isolate; /* Prevents Leaflet z-index use from bleeding into our app. */
}

.hideMap {
  display: none;
}

.notification {
  max-width: 37.5rem;
}
