.container {
  height: 100%;
  min-height: 16rem;
  position: relative;
}

.map {
  height: 100%;
  isolation: isolate; /* Prevents Leaflet z-index use from bleeding into our app. */
}

.hideMap {
  display: none;
}

.selected-marker-icon-border {
  border: 4px solid var(--ams-color-highlight-green); /* stylelint-disable-line unit-disallowed-list */
  border-radius: 50%;
}
