version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      patch-and-minor-dependencies:
        applies-to: 'version-updates'
        exclude-patterns:
          - '@hey-api/openapi-ts'
        update-types:
          - 'patch'
          - 'minor'
    versioning-strategy: 'increase-if-necessary'
    open-pull-requests-limit: 20
