.file-upload-wrapper {
  position: relative;

  @media screen and (min-width: 36rem) {
    padding: var(--ams-space-md);
    border: var(--ams-border-width-sm) dashed var(--ams-color-neutral-grey3);
    cursor: var(--ams-action-activate-cursor);
    font-size: var(--ams-text-level-5-font-size);
    line-height: var(--ams-text-level-5-line-height);
  }
}

.file-upload-input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: var(--ams-button-cursor);
}

.file-upload-drop-area-text {
  display: none;

  @media screen and (min-width: 36rem) {
    display: inline;
    padding-inline: var(--ams-space-md);
  }
}

.file-upload-button {
  width: 100%;

  @media screen and (min-width: 36rem) {
    display: inline;
    width: auto;
  }
}
