.file-upload-wrapper {
  position: relative;
  padding: var(--ams-space-lg);
  border: var(--ams-border-width-sm) dashed var(--ams-color-neutral-grey3);
  cursor: var(--ams-action-activate-cursor);
  font-size: var(--ams-text-level-5-font-size);
  line-height: var(--ams-text-level-5-line-height);
}

.file-upload-input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: var(--ams-button-cursor);
}

.file-upload-drop-area-text {
  padding-inline: var(--ams-space-md);
}

.file-upload-button {
  padding-block: var(--ams-button-padding-block);
  padding-inline: var(--ams-button-padding-inline);
  box-shadow: var(--ams-button-secondary-box-shadow);
  color: var(--ams-button-secondary-color);
}
