.file-upload-wrapper {
  position: relative;

  &:hover .file-upload-button {
    box-shadow: var(--ams-button-secondary-hover-box-shadow);
    color: var(--ams-button-secondary-hover-color);
  }

  &:has(:focus-visible) {
    outline-color: -webkit-focus-ring-color;
    outline-offset: var(--ams-focus-outline-offset);
    outline-style: auto;
    outline-width: 0.0625rem;
  }

  @media screen and (min-width: 36rem) {
    padding: var(--ams-space-md);
    border: var(--ams-border-width-sm) dashed var(--ams-color-neutral-grey3);
    font-size: var(--ams-text-level-5-font-size);
    line-height: var(--ams-text-level-5-line-height);
  }
}

.file-upload-label {
  display: flex;
  align-items: center;
}

.file-upload-button {
  box-shadow: var(--ams-button-secondary-box-shadow);
  color: var(--ams-button-secondary-color);
  padding-block: var(--ams-button-padding-block);
  padding-inline: var(--ams-button-padding-inline);
  text-align: center;
  white-space: nowrap;
  width: 100%;

  @media screen and (min-width: 36rem) {
    display: inline-block;
    width: fit-content;
  }
}

.file-upload-drop-area-text {
  display: none;

  @media screen and (min-width: 36rem) {
    display: inline;
    overflow: hidden;
    padding-inline: var(--ams-space-md);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.file-upload-input {
  cursor: pointer;
  inset: 0;
  opacity: 0;
  position: absolute;
}
