.file-upload-wrapper {
  position: relative;

  &:has(:focus-visible) {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0.0625rem;
  }

  @media screen and (min-width: 36rem) {
    padding: var(--ams-space-md);
    border: var(--ams-border-width-sm) dashed var(--ams-color-neutral-grey3);
    font-size: var(--ams-text-level-5-font-size);
    line-height: var(--ams-text-level-5-line-height);
  }
}

.file-upload-input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.file-upload-drop-area-text {
  display: none;

  @media screen and (min-width: 36rem) {
    display: inline;
    padding-inline: var(--ams-space-md);
  }
}

.file-upload-button {
  display: block;
  padding-block: var(--ams-button-padding-block);
  padding-inline: var(--ams-button-padding-inline);
  box-shadow: var(--ams-button-secondary-box-shadow);
  color: var(--ams-button-secondary-color);

  @media screen and (min-width: 36rem) {
    display: inline;
    width: auto;
  }
}
