services:
  admin:
    build:
      context: .
      target: admin_meldingen
      args:
        VITE_KEYCLOAK_BASE_URL: http://localhost:8002
        VITE_KEYCLOAK_REALM: meldingen
        VITE_KEYCLOAK_CLIENT_ID: meldingen
        VITE_BACKEND_BASE_URL: http://localhost:8000
    ports:
      - '3001:80'
    networks:
      - meldingen_network
  public:
    build:
      context: .
      target: public_meldingen
      args:
        NEXT_PUBLIC_BACKEND_BASE_URL: http://localhost:8000
    environment:
      - BACKEND_BASE_URL=http://meldingen:8000
    ports:
      - '3000:3000'
    networks:
      - meldingen_network
networks:
  meldingen_network:
    external: true
