version: '3.8'

services:
  admin:
    build:
      context: .
      target: admin_signalen
      args:
        VITE_KEYCLOAK_BASE_URL: http://localhost:8002
        VITE_KEYCLOAK_REALM: meldingen
        VITE_KEYCLOAK_CLIENT_ID: meldingen
        VITE_BACKEND_BASE_URL: http://localhost:8000
    ports:
      - '3001:80'
  public:
    build:
      context: .
      target: public_signalen
    ports:
      - '3000:3000'
