.comboboxInput {
  background-image: var(--ams-select-background-image);
  background-position: var(--ams-select-background-position);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  padding-inline-end: calc(2 * var(--ams-inputs-padding-inline) + 1em);
}

.comboboxOptions {
  margin-block-end: 0;
  overflow-y: auto;
  z-index: 1;
}
