.caption {
  display: flex;
  flex-direction: column;
  font-size: var(--ams-typography-body-text-font-size);
  gap: var(--ams-space-s);
  line-height: var(--ams-typography-body-text-line-height);
}

.filename {
  font-weight: var(--ams-typography-body-text-bold-font-weight);
}

.imageContainer {
  align-items: center;
  aspect-ratio: 4 / 3;
  display: flex;
  justify-content: center;
  max-height: 37.5rem;
  position: relative;
  width: 100%;
}

.image {
  aspect-ratio: auto; /* Reset the aspect ratio set by the design system */
  inline-size: auto; /* Reset the inline size set by the design system */
  max-block-size: 100%;
  max-inline-size: 100%;
}
