.combobox {
  position: relative;
  width: 100%;
}

.comboboxOptions {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  inline-size: var(--input-width); /* Defined by Headless UI */
  z-index: 2;
}
