@import url('@amsterdam/design-system-assets/font/index.css') layer(amsterdam-design-system);
@import url('@amsterdam/design-system-css/dist/index.css') layer(amsterdam-design-system);
@import url('@amsterdam/design-system-tokens/dist/index.css') layer(amsterdam-design-system);

body {
  font-family: 'Amsterdam Sans', Arial, sans-serif;
  margin-block: 0;
  margin-inline: 0;
}

strong {
  font-weight: 800;
}
