.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh; /* Fallback for browsers that do not support dvh */
  height: 100dvh;

  @media screen and (min-width: 68rem) {
    grid-template-columns: 1fr 2fr;
  }
}

.assetList {
  display: none;
  flex-direction: column;
  grid-row-start: 2;
  overflow-y: auto;
  padding-block-end: var(--ams-space-m);
  padding-inline: var(--ams-space-m);

  @media screen and (min-width: 68rem) {
    display: flex;
  }
}

.showAssetList {
  display: flex;
}

.hideButtonMobile {
  display: none;

  @media screen and (min-width: 68rem) {
    display: block;
    width: fit-content;
  }
}

.map {
  position: relative;

  @media screen and (min-width: 68rem) {
    grid-row: 1 / -1;
    min-height: 16rem;
  }
}

.submitbutton {
  bottom: 0;
  margin-block: var(--ams-space-m);
  margin-inline: var(--ams-space-m);
  position: absolute;

  @media screen and (min-width: 68rem) {
    display: none;
  }
}

.toggleButton {
  composes: submitbutton;
  right: 0;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.removeAbsolutePosition {
  position: unset;
}
