.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: auto;
  min-height: 100vh; /* Fallback for browsers that do not support dvh */
  min-height: 100dvh;

  @media screen and (min-width: 72.5rem) {
    grid-template-columns: 1fr 2fr;
  }
}

.hideButtonMobile {
  display: none;

  @media screen and (min-width: 72.5rem) {
    display: block;
    width: fit-content;
  }
}

.map {
  position: relative;

  @media screen and (min-width: 72.5rem) {
    grid-row: 1 / -1;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.submitbutton {
  bottom: 0;
  margin-block: var(--ams-space-m);
  margin-inline: var(--ams-space-m);
  position: absolute;

  @media screen and (min-width: 72.5rem) {
    display: none;
  }
}

.removeAbsolutePosition {
  position: unset;
}

.toggleButton {
  composes: submitbutton;
  right: 0;
}
