.container {
  display: flex;
  flex-direction: column;
  gap: var(--ams-space-m);
  padding-block: var(--ams-space-m);
  padding-inline: var(--ams-space-m);

  @media screen and (min-width: 72.5rem) {
    padding-block: unset;
    padding-block-start: var(--ams-space-m);
  }
}

.backLink {
  width: fit-content;
}

.intro {
  display: none;

  @media screen and (min-width: 72.5rem) {
    display: block;
  }
}
