.container {
  position: relative;
}

.map {
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;

  /*
    Leaflet uses z-indexes to stack layers. The highest Leaflet z-index is 700.
    https://leafletjs.com/reference.html#map-pane
  */
  z-index: 701;
}
