.genericErrorAlert {
  outline-offset: var(--ams-focus-outline-offset);
}

.column {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  background-color: var(--ams-color-background);
  padding-block: var(--ams-space-l);
  padding-inline: var(--ams-space-l);
}

.uploadInfo {
  composes: column;
  align-items: start;
  row-gap: var(--ams-space-s);

  @media screen and (min-width: 37.5rem) {
    row-gap: var(--ams-space-l);
  }
}
