.container {
  margin-block: auto;
}

.description {
  display: block;
  font-weight: var(--ams-description-list-description-font-weight);
  margin-inline: 0;
  overflow-wrap: anywhere;
}

.card {
  align-items: start;
  align-self: start;
  background-color: var(--ams-color-background);
  padding-block: var(--ams-grid-cell-padding-block);
  padding-inline: var(--ams-grid-cell-padding-inline);
}

.cardWide {
  composes: card;

  @media screen and (min-width: 72.5rem) {
    grid-column: span 2;
  }
}

.imagePreview {
  align-self: start;
  width: 100%;
}

.term {
  display: block;
  font-weight: var(--ams-description-list-term-font-weight);
  line-height: var(--ams-description-list-term-line-height);
  text-wrap: var(--ams-description-list-term-text-wrap);
}
