.combobox {
  position: relative;
  width: 100%;
}

.comboboxOptions {
  background-color: white;
  position: absolute;
  width: 100%;

  /* The ComboxBoxOptions need to be on top of the AssetList and submit button, which have a z-index of 702. */
  z-index: 703;
}

.comboboxOptions ul {
  margin-block-end: 0;
}
