.combobox {
  position: relative;
  width: 100%;
}

.comboboxOptions {
  position: absolute;

  /* The ComboxBoxOptions need to be on top of the AssetList and submit button, which have a z-index of 702. */
  z-index: 703;
}

.comboboxOptions ul {
  margin-block-end: 0;

  @media screen and (min-width: 68rem) {
    margin-block-end: var(--ams-space-grid-md);
  }
}
