.combobox {
  /* The longest address in Amsterdam is 77 characters  */
  max-width: calc((var(--ams-text-input-padding-inline) * 2) + 77ch);
  position: relative;
  width: 100%;
}

.comboboxOptions {
  position: absolute;
  z-index: 1; /* The ComboxBoxOptions need to be shown above the map.  */
}
