@keyframes loading {
  0% {
    background-color: var(--ams-color-background);
  }

  50% {
    background-color: var(--ams-color-separator);
  }

  100% {
    background-color: var(--ams-color-background);
  }
}

.loadingContainer {
  animation-delay: 0.3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  /*
   * Stop the animation after 3 seconds (1.35 iterations * 2s duration + 0.3s delay = 3s).
   * At that point, the no-JavaScript alert will be shown.
   */
  animation-iteration-count: 1.35;
  animation-name: loading;
  animation-timing-function: ease-in-out;
  box-sizing: border-box;
  display: grid;
  height: 100%;
  padding-block: var(--ams-space-m);
  padding-inline: var(--ams-space-m);
  width: 100%;

  @media screen and (min-width: 72.5rem) {
    padding-block: var(--ams-space-l);
    padding-inline: var(--ams-space-l);
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    background-color: var(--ams-color-separator);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.noJavaScriptAlert {
  animation: fade-in 0s ease-in-out forwards;
  animation-delay: 3s;
  height: fit-content;
  justify-self: center;
  opacity: 0;
  width: fit-content;
}
