.cardGrid {
  display: grid;
  gap: var(--ams-space-l);
  margin-block-end: var(--ams-space-l);

  @media screen and (min-width: 72.5rem) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

.card {
  align-self: start;
  background-color: var(--ams-color-background);
  padding-block: var(--ams-grid-cell-padding-block);
  padding-inline: var(--ams-grid-cell-padding-inline);
}

.cardWide {
  composes: card;

  @media screen and (min-width: 72.5rem) {
    grid-column: span 2;
  }
}

.cardTall {
  composes: card;

  @media screen and (min-width: 72.5rem) {
    grid-column: 2;
    grid-row: 2 / span 2;
  }
}

.descriptionList {
  display: grid;
  gap: var(--ams-space-m);
  margin-block: 0;
}

.term {
  display: block;
  font-size: var(--ams-description-list-term-font-size);
  font-weight: var(--ams-description-list-term-font-weight);
  line-height: var(--ams-description-list-term-line-height);
  text-wrap: var(--ams-description-list-term-text-wrap);
}

.description {
  display: block;
  font-weight: var(--ams-description-list-description-font-weight);
  hyphens: auto;
  margin-inline: 0;
  overflow-wrap: anywhere;
}

.horizontalDescriptionList {
  align-items: start;
  column-gap: var(--ams-space-l);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 0;

  @media screen and (min-width: 37.5rem) {
    grid-template-columns: 1fr 4fr;
  }

  @media screen and (min-width: 72.5rem) {
    grid-template-columns: 1fr;

    & > :not(:last-child) {
      margin-block-end: var(--ams-space-xs);
    }
  }
}

.horizontalDescription {
  composes: description;

  &:not(:last-child) {
    margin-block-end: var(--ams-space-m);
  }

  @media screen and (min-width: 72.5rem) {
    &:has(+ .horizontalLink) {
      margin-block-end: var(--ams-space-xs);
    }
  }
}

.horizontalLink {
  /* stylelint-disable-next-line value-keyword-case */
  composes: description horizontalDescription;
  grid-column: span 2;

  @media screen and (min-width: 72.5rem) {
    grid-column: auto;
  }
}

.attachmentsGrid {
  display: grid;
  gap: var(--ams-space-l);

  @media screen and (min-width: 37.5rem) {
    grid-template-columns: 1fr 1fr;
  }
}
