.overlay {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--ams-space-sm);
  padding-block: var(--ams-space-md);
  padding-inline: var(--ams-space-md);
  position: absolute;
}

.overlayTopLeft {
  composes: overlay;
  top: 0;
}

.overlayBottomRight {
  /* Hide zoom controls on mobile */
  display: none;

  @media screen and (min-width: 68rem) {
    composes: overlay;
    bottom: 0;
    display: flex;
    right: 0;
  }
}
