.overlay {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--ams-space-sm);
  padding-block: var(--ams-space-sm);
  padding-inline: var(--ams-space-sm);
  position: absolute;

  /*
      Leaflet uses z-indexes to stack layers. The highest Leaflet z-index is 700.
      https://leafletjs.com/reference.html#map-pane
    */
  z-index: 701;
}

.overlayTopLeft {
  composes: overlay;
  top: 0;
}

.overlayBottomRight {
  display: none;

  @media screen and (min-width: 68rem) {
    composes: overlay;
    bottom: 0;
    display: flex;
    right: 0;
  }
}
