.list {
  display: grid;
  margin-block-end: var(--ams-space-2xl);
  row-gap: var(--ams-space-l);
}

.card {
  background-color: var(--ams-color-background);
  padding-block: var(--ams-space-m);
  padding-inline: var(--ams-space-m);
}

.descriptionList {
  column-gap: var(--ams-description-list-vi-medium-column-gap);
  display: grid;
  grid-template-columns: auto 1fr;
}

.descriptionList dd {
  /*
   * Override `break-word` from the Amsterdam Design System.
   * `break-word` can cause overflow issues with long addresses and an increased base font size.
   */
  overflow-wrap: anywhere;
  padding-inline-start: 0;
}

@media screen and (min-width: 72.5rem) {
  .list {
    display: none;
  }
}
