.image {
  margin-block-end: var(--ams-space-m);
  object-fit: contain;
  object-position: left;

  @media screen and (min-width: 37.5rem) {
    max-inline-size: calc(50% - (var(--ams-grid-column-gap) / 2));
  }
}

@keyframes loading {
  0% {
    background-color: var(--ams-color-background);
  }

  50% {
    background-color: var(--ams-color-separator);
  }

  100% {
    background-color: var(--ams-color-background);
  }
}

.loading {
  composes: image;
  animation-duration: 2s;

  /* Stop loading state after 30s and show a grey placeholder */
  animation-iteration-count: 14.5;
  animation-name: loading;
  animation-timing-function: ease-in-out;
  aspect-ratio: var(--ams-aspect-ratio-16-9);
  background-color: var(--ams-color-separator);

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    background-color: var(--ams-color-separator);
  }
}
