.image {
  margin-block-end: var(--ams-space-m);
  max-inline-size: 24rem;
}

.loading {
  composes: image;
  aspect-ratio: var(--ams-aspect-ratio-16-9);
  background-color: var(--ams-color-separator);
}
