.image {
  margin-block-end: var(--ams-space-m);

  @media screen and (min-width: 37.5rem) {
    max-inline-size: calc(50% - (var(--ams-grid-column-gap) / 2));
  }
}

.loading {
  composes: image;
  aspect-ratio: var(--ams-aspect-ratio-16-9);
  background-color: var(--ams-color-separator);
}
