.container {
  background-color: white;
  height: 100%;
  position: absolute;
  width: 100%;

  /*
      Leaflet uses z-indexes to stack layers. The highest Leaflet z-index is 700. And the overlay uses 701.
      https://leafletjs.com/reference.html#map-pane
    */
  z-index: 702;

  @media screen and (min-width: 68rem) {
    height: auto;
    position: relative;
  }
}
