.container {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  overflow-y: auto;
  padding-block: var(--ams-space-m);
  padding-inline: var(--ams-space-m);
  row-gap: var(--ams-space-m);
}

.hide {
  display: none;

  @media screen and (min-width: 72.5rem) {
    display: flex;
  }
}
