.container {
  background-color: var(--ams-color-background);
  display: flex;
  flex-direction: column;
  grid-area: stack;
  overflow-y: auto;
  padding-inline: var(--ams-space-m);
  row-gap: var(--ams-space-m);
  z-index: 1;

  @media screen and (min-width: 72.5rem) {
    grid-area: bottom;
    padding-block: var(--ams-space-m);
  }
}

.hide {
  display: none;

  @media screen and (min-width: 72.5rem) {
    display: flex;
  }
}
