.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh; /* Fallback for browsers that do not support dvh */
  height: 100dvh;

  @media screen and (min-width: 68rem) {
    grid-template-columns: 1fr 2fr;
  }
}

.assetList {
  display: none;
  grid-row-start: 2;
  padding-block-end: var(--ams-space-md);
  padding-inline: var(--ams-space-md);

  @media screen and (min-width: 68rem) {
    display: block;
  }
}

.showAssetList {
  display: block;
}

.hideButtonMobile {
  display: none;

  @media screen and (min-width: 68rem) {
    display: block;
  }
}

.map {
  position: relative;

  @media screen and (min-width: 68rem) {
    grid-row: 1 / -1;
  }
}

.submitbutton {
  bottom: 0;
  margin-block: var(--ams-space-sm);
  margin-inline: var(--ams-space-sm);
  position: absolute;

  /*
      Leaflet uses z-indexes to stack layers. The highest Leaflet z-index is 700. And the overlay uses 701.
      https://leafletjs.com/reference.html#map-pane
    */
  z-index: 702;

  @media screen and (min-width: 68rem) {
    display: none;
  }
}

.toggleButton {
  composes: submitbutton;
  right: 0;
}
